@{
    ViewBag.Title = "Index";
}

<h2>QuickCollab</h2>

<p>Welcome to QuickCollab. Your one stop shop to lightweight sessions and team collaboration.</p>

@Html.ActionLink("Create new session", "Index", "SessionSetup")
<br />
@Html.ActionLink("Go to lobby", "Index", "Lobby")