@model QuickCollab.Models.MemberLoginDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    .header {
        padding: 20px;
        background-color: #ace6bc;
        height: 600px;
    }

    .login {
        padding: 10px;
        margin: 0 auto;
        background-color: papayawhip;
    }

    .btn {
        margin-top: 10px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap-3.2.0/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="well col-lg-9">
                    <h1>QuickCollab</h1>
                    <p>Welcome to QuickCollab. Your one stop shop to lightweight sessions and team collaboration!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("SignIn", "Login"))
                    {
                        @Html.EditorForModel()
                        <button class="btn btn-primary btn-sm" type="submit">Sign In</button>
                    }
                    @Html.ActionLink("Create an account", "CreateAccount")
                </div>
            </div>
        </div>
    </div>

</body>
</html>
