@model QuickCollab.Models.MemberLoginDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    header {
        font-family: monospace;
        background: url(https://lh5.googleusercontent.com/-fBhfKu0TBzo/UmcDvZofgII/AAAAAAAADpM/W2XdO0wqid0/w1297-h865-no/Ref5.jpg);
        background-size: cover;
        height: 700px;
    }

        header .intro-text {
            padding-top: 50px;
            color: #f8f8f8;
        }

            header .intro-text > h1 {
                font-size: 8em;
            }

            header .intro-text > h3 {
                font-size: 4em;
            }

    .shadowed {
        text-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    }

    .login {
        font-family: monospace;
        padding: 10px;
        margin: 0 auto;
        background-color: #808080;
    }

    .container {
        text-align: center;
        align-content: flex-end;
        color: #f8f8f8;
        padding: 50px;
    }

    .btn {
        margin-top: 10px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    }

    footer {
        background-color: midnightblue;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap-3.2.0/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text shadowed">
                        <h1>QUICKCOLLAB</h1>
                        <h3>Team collaboration made easy</h3>
                    </div>
                    <a href="/Login/CreateAccount" class="btn btn-lg btn-default">Sign up</a>
                </div>
            </div>
        </div>
    </header>

    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
                <div class="col-lg-8">
                    @using (Html.BeginForm("SignIn", "Login"))
                    {
                        @Html.EditorForModel()
                        <button class="btn btn-danger btn-sm" type="submit">Sign In</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    My footer
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
