@model QuickCollab.Models.MemberLoginDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    body {
        font-family: Calibri;
        background-color: #d8e0f6;
        color: #32817e;
    }

    #hero {
        margin: 10px;
        padding: 20px;
        background-color: #ace6bc;
        height: 600px;
    }

    #login {
        margin-top: 10px;
        margin: 0 auto;
        padding: 7px;
        border: solid;
        border-width: thin;
        border-color: black;
        background-color: whitesmoke;
        width: 600px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="hero">
        <h1>QuickCollab</h1>
        <p>Welcome to QuickCollab. Your one stop shop to lightweight sessions and team collaboration!</p>
    </div>
    <div id="login">
        @using (Html.BeginForm("SignIn", "Login"))
        {
            @Html.EditorForModel()
            <input type="submit" value="Sign In" />
        }
        @Html.ActionLink("Create an account", "CreateAccount")
    </div>
</body>
</html>
